name = "workly"
pages_build_output_dir = "out"

compatibility_date = "2025-08-10"
compatibility_flags = ["nodejs_compat"]

[[kv_namespaces]]
binding = "RATELIMIT"
id = "586be3c3b8b44f418d613d602233a3f9"     # workly-dev-ratelimit

[env.preview]
[[env.preview.d1_databases]]
binding = "DB"
database_name = "workly-preview"
database_id = "1e0adb30-5b71-428b-8ed8-fee66494c303"

[[env.preview.kv_namespaces]]
binding = "RATELIMIT"
id = "a85e262b736c45e5896c8f7cc355debe"


# PRODUCTION
[env.production]
[[env.production.d1_databases]]
binding = "DB"                         # MUST be exactly DB
database_name = "workly-prod"
database_id = "21f7f0de-88d7-4db2-acb7-11638ca2461d"

[[env.production.kv_namespaces]]
binding = "RATELIMIT"
id = "4e55a80dbc5b4e838d2ca560f96f1cbe"  

# Local dev binding used by `wrangler pages dev ...`
[[d1_databases]]
binding = "DB"                                   # must be exactly DB
database_name = "workly-dev"
database_id = "6646ce60-77d2-4671-b513-84518736a005"

